{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h2>Balance: {{balance}}</h2>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" type="text" name="symbol" placeholder="Stock Symbol">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" type="text" name="shares" placeholder="Number of shares">
        </div>
        <button type="submit" class="btn btn-primary">Buy</button>
    </form>
{% endblock %}