{% extends "layout.html" %}

{% block title %}
    Finance
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{row["symbol"]}}</td>
                    <td>{{row["name"]}}</td>
                    <td>{{row["shares"]}}</td>
                    <td>{{row["price"]}}</td>
                    <td>{{row["total"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>Cash:</th>
                <td>{{balance}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>TOTAL:</th>
                <td>{{total}}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}