{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{quote["name"]}}</td>
                <td>{{quote["symbol"]}}</td>
                <td>{{quote["price"]}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}