{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container text-center">
        <form action="{% url 'add_listing'%}" method="post">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title" class="m-1 w-50" required><br>
            <textarea name="description" rows="4" class="m-1 w-50" placeholder="Description"></textarea><br>
            <input type="number" name="start_bid" placeholder="Starting bid price" class="m-1 w-50" required><br>
            <input type="text" name="image" placeholder="Image URL" class="m-1 w-50"><br>
            <input type="text" name="category" placeholder="Category" class="m-1 w-50"><br>
            <input type="submit" value="Create" class="btn btn-primary m-1">
        </form>
    </div>
{% endblock %}