{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="container">
        {% for listing in listings %}
            <div class="row p-2 border m-2 h-25" >
                <div class="col-3">
                    <img src="{{ listing.image }}" class="img-fluid">
                </div>
                <div class="col-9">
                    <h4><a href="{% url 'listing' listing.pk %}">{{ listing.title }}</a></h4>
                    <p>{{ listing.description }}</p>
                    <!-- <p></p> -->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}